body {
    margin: 0;
}
.body {
    display: flex;
}
#titleName{
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stageIcons{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
p {
    margin: 0;
}
.productDescriptionBox{
    color: rgb(121, 121, 121);
}
.nudgeButton {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #95f195;
    border: 0;
    border-radius: 10px;
}
.productChangeNavigation span {
    margin: 0 5px 0 5px;
}
.productImg {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

/********PAYMENT STAGE NOW*********/

.PaymentTypeBox {
    border: 1px solid black;
    height: 50px;
    border-radius: 10px;
    width: 95%;
    margin: 2.5%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.PaymentTypeBox:hover {
    border: 1px solid #2196F3;
}
.PaymentTypeBox:hover img {
    opacity: 0.5; /* Optionally reduce opacity of the image on hover */
}
.PaymentTypeBox div {
    margin: 10px;
    display: flex;
    align-items: center;
}
.PaymentIcons {
    display: flex;
    align-items: center;
}
.PaymentIcons img {
    height: 14px;
    margin-right: 10px;
}
.PaymentText * {
    margin-left: 10px;
}
.NudgeButton {
    margin: 20px 25% 20px 25%;
    background-color: lightgreen;
    border: none;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}
.NudgeButton:hover {
    background-color: pink;
}


@media screen and (min-width: 769px){
    .stageBoxes{
        width: 60%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 15px;
        float: left;
        horiz-align: center;
        margin: 15px;
    }
    .title-container{
        display: flex;
    }
    .title-container img {
        margin-right: 30px;
    }
    #line{
        height: 2px;
        background-color: black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .productImg {
        height: 50px;
        width: 50px;
        float: left;
    }
    #upgradeButton{
        margin: 4px;
    }
}