body {
    margin: 0;
}
.body {
    display: flex;
    background-color: #e6e6e6;
}
#titleName{
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
p {
    margin: 0;
}
.productDescriptionBox{
    color: rgb(121, 121, 121);
}
.nudgeButton {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #95f195;
    border: 0;
    border-radius: 10px;
}
.productChangeNavigation span {
    margin: 0 5px 0 5px;
}
.productImg {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

/********PAYMENT STAGE NOW*********/
.PaymentTypeOuterBox {
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
}
.PaymentTypeBox {
    display: flex;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.PaymentTypeOuterBox:hover {
    border: 1px solid #2196F3;
}
.PaymentTypeBox:hover img {
    opacity: 0.5; /* Optionally reduce opacity of the image on hover */
}
.PaymentTypeBox div {
    margin: 10px;
    display: flex;
    align-items: center;
}
.PaymentIcons {
    display: flex;
    align-items: center;
}
.PaymentIcons img {
    height: 14px;
    margin-right: 10px;
}
.PaymentText * {
    margin-left: 10px;
}
.PaymentInputs {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}
.PaymentInputs > input {
    width: 90%;
    padding: 8px 0 4px 4px;
    font-size: 16px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 4px #00000019;
    border-radius: 5px;
    margin: 1% 1% 1% 3%;
}
.PaymentInputs input:focus {
    background-color: #f3f3f3;
    outline: 0;
    box-shadow: 0 0 8px #6DB6FF99;
}

.PaymentInputs > button {
    width: 25%;
    padding: 8px 0 4px 4px;
    box-shadow: 0 0 4px #00000019;
    border-radius: 5px;
    margin: 1% 1% 1% 3%;
    background-color: #ffe79b;
    border: none;
    height: 30px;
    cursor: pointer;
}
.PaymentInputs > button:hover {
    background-color: lightgreen;
    color: #797979;
    box-shadow: 2px 2px #00000019;
}
.SubInputs > input{
    width: 35%;
    padding: 8px 0 4px 4px;
    font-size: 16px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 4px #00000019;
    border-radius: 5px;
    margin: 1% 1% 1% 3%;
}
.CommentBox {
    height: 50px;
    margin: 20px;
    width: auto;
    border-radius: 5px;
}
.NudgeButton {
    margin: 20px 25% 20px 25%;
    padding: 8px 0 4px 4px;
    background-color: lightgreen;
    border: none;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}
.NudgeButton:hover {
    background-color: #b6ffa0;
    color: #797979;
    box-shadow: 2px 2px #00000019;
}
.CheckBoxWithDescription {
    display: flex;
    margin: 10px;
}
.AcceptTermsBox > href {
    cursor: pointer;
}
.AcceptTermsBox > input {
    cursor: pointer;
    margin-right: 10px;
}
.ErrorText {
    margin-left: 10px;
    color: red;
    scale: .8;
}

.WholeGiftCardPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it's above everything else */
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 2%;
    border: 2px solid;
    box-shadow: 8px 10px 0 0 rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    animation: glow 4s infinite alternate ease-in, appear 1s;
}
.HAndButton {
    display: flex;
    justify-content: space-between;
    button{
        height: 30px;
    }
}

@media screen and (min-width: 769px){
    .imageLogo{
        width: 120px;
    }
    #priceTag {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        gap: 1%;
    }
    #originalprice{
        color: red;
        text-decoration: line-through;
    }
    .stageBoxes{
        width: 60%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 15px;
        float: left;
        horiz-align: center;
        margin: 15px;
        background-color: rgb(247, 247, 247);
    }
    .stageIcons{
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }
    /**/
    .container-connecter {
        width: 100%;
        border: 0;
        border-radius: 15px;
        float: left;
        margin: 15px;
        position: relative;
    }
      
    .container-connecter::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        border: 2px solid rgb(30, 30, 30);
        width: 40%;
        background-color: lightgreen;
        z-index: -1;
    }
      
    .title-container{
        display: flex;
    }
    .title-container img {
        margin-right: 30px;
    }
    #line{
        height: 2px;
        background-color: black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .productImg {
        height: 50px;
        width: 50px;
        float: left;
    }
    #upgradeButton{
        margin: 4px;
    }
}
/*************SLIDER FOR GIFT-CARD REDEMPTION***************/
.slideContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    border-radius: 20px;
    appearance: none;
    width: 80%;
    height: 35px; /* Specified height */
    background: #ecffec;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s, color .1s;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: silver; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 30px;
    border: 1px solid gray;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
/********ANIMATION OF GIFT-CARD*********/

@keyframes glow {
    0% {
        border-color: #f3dbdb;
    }
    50% {
        border-color: #EEFFE5FF;
    }
    100% {
        border-color: #F6F1FFFF;
    }
}
@keyframes appear {
    from {
        transform: scale(0);
        opacity: 0;
        bottom: -100px;
        left: -100px;
    }
    to {
        transform: scale(1);
        opacity: 100%;
    }
}