  
.previous {
    background-color: #f1f1f1;
    color: black;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-width: 2px;
  }
  
.round {
    border-radius: 80%;
    width: 40px;
    height: 40px;
    margin: 2px;
  }