@media screen and (min-width: 769px){
    #inputBox input {
        width: 44%;
        padding: 8px 0 4px 4px;
        font-size: 16px;
        border: 1px solid #ced4da;
        box-shadow: 0 0 4px #00000019;
        border-radius: 5px;
        margin: 1% 1% 1% 3%;
    }
    .continue-container{
        display: grid;
        width: 100%;
        grid-template-columns: 77% auto auto;
    }
    #inputBox input:focus {
        background-color: #f3f3f3;
        outline: 0;
        box-shadow: 0 0 8px #6DB6FF99;
    }
    #button{

        border-radius: 5px;
        width: auto;
    }

    .stage2{
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }
    #message{
        margin-left: 50px;
        height: 40px;
        width: 22%;
        border: 1px solid #ff0000;
        display: flex;
        justify-content:flex-start;


    }
    .screen-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    #invalidZip{
        margin: auto;
        color: black;
        font-family:'Roboto', sans-serif;
        font-size: 14px;
    }

    #title{
        margin-left: 10px;
    }

}
