@media screen and (min-width: 769px){
    #inputBox input {
        width: 44%;
        padding: 8px 0 4px 4px;
        font-size: 16px;
        border: 1px solid #ced4da;
        box-shadow: 0 0 4px #00000019;
        border-radius: 5px;
        margin: 1% 1% 1% 3%;
    }
    #inputBox input:focus {
        background-color: #f3f3f3;
        outline: 0;
        box-shadow: 0 0 8px #6DB6FF99;
    }
    #button{
        float:right;
        border-radius: 5px;
        width: 50px;
    }



    #checkBoxMargin{
        margin-left: 10px;
    }
    .stage2{
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }
    #message{
        margin-left: 50px;
        height: 40px;
        width: 20%;
        border: 1px solid #ced4da;
        display: flex;
        justify-content:flex-start;



    }
    #invalidZip{
        margin: auto;
        color: black;
        font-family:'Roboto', sans-serif;
        font-size: 14px;
    }

    #title{
        margin-left: 10px;
    }


    /*code from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}
