@media screen and (min-width: 769px) {
    body {
        display: flex;
        flex-direction: column;
    }
    #productBox{
        width: 95%;
        padding: 2.5%;
        float: left;
        border-radius: 15px;
        horiz-align: center;
    }
    .ProductInfo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .ProductInfo * {
        display: flex;
        align-items: center;
        margin: 0 20px 0 10px;
    }
    .wholeProduct {
        box-shadow: 0 0 4px #00000019;
        margin-bottom: 10px;
        width: 100%;
    }
    .productStyling {
        padding: 10px;
    }
    .remove {
        height: 22px;
    }
    #nameTag{
        font-size: 20px;
    }
    #priceTag{
        float: right;
    }
    #quantityBox{
        display: flex;
        width: 95%;
        margin: 2px 2.5% 4px 2.5%;
        justify-content: space-between;
        justify-items: right;
    }
    .productChangeNavigation {
        display: flex;
        margin-left: auto;
    }
    #titleName{
        text-align: center;
    }
}