@media screen and (min-width: 769px) {
    #totalBox {
        position: fixed;
        bottom: 10px;
        right: 10px;
        border: 2px solid black;
        border-radius: 10px;
    }
    #totalBox > * {
        margin: 10px;
    }
}