/*Optimized for screen 320px*/
@media screen and (max-width: 768px) {
    #titleName {
        border-bottom: 2px solid black;
    }

    .container-connecter{
        margin-bottom: 10%;
    }
      
    .imageLogo{
        width: 100px;
    }
    .stageBoxes {
        width: 100%;
        border-bottom: 1px solid black ;
        padding: 0;
        margin: 0;
    }
    .title-container {
        display: grid;
        grid-template-columns: 1fr 8fr;
        align-items: center;
        gap: 3%;
        margin-left: 1%;
        width: fit-content;
      }
      
      .stageIcons {
        height: auto;
        max-width: 100%;
      }

    /****PAYMENT STAGE NOW****/
    .PaymentTypeBox {

    }
    .PaymentTypeBox img {
        height: 20px;
    }
    .PaymentOptionsBox {
        margin-bottom: 170px;
    }
    .mobilePayImg {
        height: 100%;
    }
    .WholeGiftCardPopUp {
        width: 85%;
    }
}