{/*Optimized for screen 320px*/}

@media screen and (max-width: 768px) {
    #basket {
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .title-container {
        display: flex;
        justify-items: center;
        justify-content: space-around;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .title-container * {
        margin-right: 10px;
    }
    #productBox {
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
    }
    .productStyling {
        border: 0;
        padding: 0;
        margin: 10px;
    }
    #quantityBox {
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .ProductInfo {
        margin: 0;
        border: 1px solid red;
        display: flex;
        justify-content: center;
    }
    .ProductInfo * {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .productChangeNavigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .priceTag * {
        display: flex;
        align-items: center;
    }
    #totalBox {
        margin: 10px;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
}