{/*Optimized for screen 320px*/}
@media screen and (max-width: 768px) {
    #titleName {
        border-bottom: 2px solid black;
    }
    

    .imageLogo{
        width: 100px;
    }
    .stageBoxes {
        width: 100%;
        border-bottom: 1px solid black ;
        padding: 0;
        margin: 0;
    }
    .title-container {
        display: grid;
        grid-template-columns: 1fr 8fr;
        align-items: center;
        gap: 3%;
        margin-left: 1%;
        width: fit-content;
      }
      .productImg {
        height: 50px;
        width: 50px;
        float: left;
    }
      
      .stageIcons {
        height: auto;
        max-width: 100%;
      }

    /***STAGE BASKET NOW***/
    #productBox {
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
    }
    .productStyling {
        border: 0;
        padding: 0;
        margin: 10px;
    }
    #quantityBox {
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .ProductInfo {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .ProductInfo * {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .productDescriptionBox {
        width: 100%;
        display: none;
    }

    .productChangeNavigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .priceTag * {
        /*display: flex;
        align-items: center;*/
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
    }
    .Discounted {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10%;
    }
    #originalprice{
        color: red;
        text-decoration: line-through;
    }

    #totalBox {
        background-color: #eeeeee;
        position: fixed;
        width: 100%;
        bottom: -20px;
        border-top: 1px solid black ;
        border-radius: 20px;
        padding-bottom: 20px;
    }
    #totalBox H2 {
        margin-left: 20px;
    }

    #totalContent {
        margin: 10px;
    }
    #totalContent * {
        margin-bottom: 5px;
    }
    #ChoosePaymentBox {
        margin-bottom: 200px;
    }

    /****DELIVERY STAGE NOW****/
    #inputBox {
        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }
    #inputBox input {
        width: 96%;
        padding: 5px 0 5px 0;
        margin: 5px 5px 5px 5px;
        border: 1px solid black;
        border-radius: 5px;
    }
    .continue-container{
        display: grid;
        width: 100%;
        grid-template-columns: 60% auto auto;
    }
    #checkBoxMargin {
        margin: 10px;
        display: flex;
        justify-content: space-around;
    }
    #title {
        margin-left: 20px;
    }

    /****PAYMENT STAGE NOW****/
    .PaymentTypeBox {

    }
    .PaymentTypeBox img {
        height: 20px;
    }
    .PaymentOptionsBox {
        margin-bottom: 170px;
    }
    .mobilePayImg {
        height: 100%;
    }
}