#productBox{
  background-color: rgb(245, 245, 245);
  width: 85%;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  float: left;
  border-radius: 15px;
  horiz-align: center;

}


#titleName{
  text-align: center;
}

#line{
  height: 2px;
  background-color: black;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#totalBox{
  width: 25%;
  border: 2px solid black;
  float: right;
  border-radius: 15px;


}

#basket{
  width: 70%;
  border: 2px solid black;
  border-radius: 15px;
  float: left;
  horiz-align: center;
}
.title-container{
  display: grid;
  grid-template-columns: 9% auto;
}




.img{
  height: 60px;
  width: 70px;
  float: left;
}

.stage1{
  height: 60px;
  width: 70px;
  margin-top: auto;
}

#nameTag{
  float: left;
  font-size: 20px;
}
#priceTag{
  float: right;
}
#desc{
  color: rgb(121, 121, 121);
}

#adjustable{
  float: right;
}