#inputBox input {
    width: 250px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 4px #00000019;
    border-radius: 5px;
    margin: 10px;
}
#inputBox input:focus {
    background-color: #f3f3f3;
    outline: 0;
    box-shadow: 0 0 8px #6DB6FF99;
}
#button{
    float:right;
    border-radius: 5px;
    width: 50px;
}

.title-container{
    display: grid;
    grid-template-columns: 9% auto;
}
.stage2{
    height: 60px;
    width: 70px;
    margin-top: auto;
}